html {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  margin: 0;
  color: #244751;
  background-color: #eee;
}

body .container {
  /*80px or 140px*/
  padding-top: 100px;
  margin: auto;
  background: white;
  width: 450px;
  height: 110%;
}



























































































































/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */