body #nav-bar {
  background: #00a087;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0px;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  z-index: 999;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  padding-left: 10px;
  font-size: 2em;
  float: left;
  line-height: 2.5em;
}

#nav-bar button {}

#nav-bar button {
  float: right;
  margin-top: 5px;
  height: 85%;
  border-radius: 7px;
  border: 2px solid #000000;
  display: inline-block;
  cursor: pointer;
  font-size: 24px;
  padding: 20px 18px;
  background-color: #e8fdff;
  color: #00a088;
  /*text-decoration: none;*/
}

#nav-bar .highlight {
  background-color: #EBFDFF;
  color: black;
  position: relative;
  top: 1px;
}

#nav-bar i {
  padding-right: 8px;
}