#nav-bar {
  background: #00a087;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0px;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  z-index: 999;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  padding-left: 10px;
  font-size: 2em;
  float: left;
  line-height: 2.5em;
}