  .container .new-tweet {
    background: #eee;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 7px;
    border: 2px solid #d0d0d0;
    padding-bottom: 10px;
    text-underline-position: 10px;
    display: none;
  }

  .new-tweet .counter {
    float: right;
    margin-right: 5px;
  }

  .new-tweet textarea {
    width: 100%;
    height: 4em;
  }

  .new-tweet h2 {
    border-bottom: thin solid black;
  }

  .container .tweet {
    margin-top: 2em;
    background: white;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 7px;
    border: 2px solid #d0d0d0;
    opacity: 0.7;
    transition: opacity 0.2s linear;
  }

  .container .tweet:hover {
    opacity: 1;
  }

  .container .tweet:hover .icons {
    opacity: 1;
  }


  .tweet-header {
    /*margin-top: 0;*/
    background: #eee;
    padding: 7px;
    width: 100%;
  }

  .user-handle {
    float: right;
    margin-right: 10px;
  }

  .user-avatar {
    border-radius: 7px;
  }

  .user-name {
    position: relative;
    top: -30px;
    font-size: 1.5em;
    padding-left: 5px;
    font-weight: bold;
  }

  .tweet-content {
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    line-height: 1em;
  }

  .tweet footer {
    padding: 5px;
    font-size: 0.7em;
    border-top: thin solid #d0d0d0;
  }

  .icons {
    float: right;
    padding-right: 5px;
    opacity: 0;
    transition: opacity 0.1s linear;
  }

  .icons i {
    padding-left: 0.3em;
    padding-right: 0.3em;
  }